.head {
    width: 80%;
    padding: 20px;
    gap: 350px;
    margin: auto;
    border-style: solid;
    border-bottom-color: rgb(114, 203, 255);
    border-top-color: rgba(240, 248, 255, 0);
    border-left-color: rgba(240, 248, 255, 0);
    border-right-color: rgba(240, 248, 255, 0);
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(10, 137, 227);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
}

.head h1{
    margin-right: 230px;
    height: auto;
    font-size: 70px;
    float: center;
    text-align: center;
    overflow: hidden;
    color: white;
}

.head p{
    margin-right: 230px;
    height: auto;
    font-size: 20px;
    float: center;
    text-align: center;
    overflow: hidden;
    color: white;
}

.head table {
    margin-left: 100px;
    float: left;
    text-align: center;
}

.head table img{
    width: 200px;
    height: auto;
}

.nevigation_menu {
    border-style: solid;
    border-color: rgba(240, 248, 255, 0);
    background-color: rgb(6, 74, 122);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    padding: 20px;
    margin: auto;
}

.nevigation_menu li{
    display: inline;
    padding: 20px;
}

.nevigation_menu li a{
    color: white;
    text-decoration: none;
    transition: all 0.2s linear;
}

.nevigation_menu li a:hover{
    color: rgb(255, 0, 0);
}

.body {
    width: 65%;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container1 {
    display: flex;
    align-content: stretch;
    justify-content: space-between;
}

.container1 img {
    max-width: 300px;
    height: 250px;
    border: solid rgba(10, 137, 227);
    border-radius: 10px;
    transition: 0.3s;

}

.container1 img:hover {
    transform: scale(1.05);
    z-index: 3;
}

.container2 {
    display: flex;
    align-content: stretch;
    justify-content: space-between;
}

.container2 img {
    max-width: 300px;
    height: 200px;
    border: solid rgba(10, 137, 227);
    border-radius: 10px;
    transition: 0.3s;
}

.container2 img:hover {
    transform: scale(1.05);
    z-index: 3;
}

.container3 {
    display: flex;
    align-content: stretch;
    justify-content: space-between;

}

.container3 img {
    max-width: 300px;
    height: 250px;
    border: solid rgba(10, 137, 227);
    border-radius: 10px;
    transition: 0.3s;
}

.container3 img:hover {
    transform: scale(1.05);
    z-index: 3;
}

.comment-box {
    width: 100%;
    max-width: 600px;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
}

.comment-box h3 {
    margin: 0 0 15px;
    color: #333;
}

.comment-noidung {
    width: 100%;
    height: 300px;
    resize: none;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
    box-sizing: border-box;
}

.comment-email {
    width: 100%;
    height: 42px;
    resize: none;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
    box-sizing: border-box;
}

.comment-box textarea:focus {
    border-color: #74ebd5;
}
.comment-box button {
    margin-top: 15px;
    width: 100%;
    background: #74ebd5;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s;
    }
.comment-box button:hover {
    background: #67d3c0;
    }

.foot {
    width: 80%;
    margin: auto;
    padding: 20px;
    border-style: solid;
    background-color: rgba(10, 137, 227); 
    border-bottom-color: rgba(240, 248, 255, 0);
    border-top-color: rgb(114, 203, 255);
    border-left-color: rgba(240, 248, 255, 0);
    border-right-color: rgba(240, 248, 255, 0);
    border-radius: 10px;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
    font-size: 30px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.white {
    color: aliceblue;
}



